.customers {
    flex: 5;
    width: 100%;

    .customersTop {
        padding: 20px;
        margin: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

        .customersTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .title {
                font-size: 20px;
            }

            .addButton {
                font-size: 16px;
                font-weight: 400;
                padding: 5px;
                border-radius: 5px;
                color: var(--primary-lime-green);
                border: 1px solid var(--primary-lime-green);
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: var(--primary-lime-green);
                }
            }
        }

        .customersMenu {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .menuFilters {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .searchInput {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    padding: 5px;
                    border: 0.5px solid gray;
                    border-radius: 100px;

                    &:hover {
                        border-color: var(--primary-lime-green);
                    }

                    input {
                        font-size: 14px;
                        border: none;
                        outline: none;
                        background: transparent;

                        &::placeholder {
                            font-size: 12px;
                            color: gray;
                        }
                    }

                    .icon {
                        font-size: 25px;
                        cursor: pointer;

                        &:hover {
                            color: var(--primary-lime-green);
                        }
                    }
                }

                .sortSelect {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    gap: 5px;

                    .sortBy {
                        color: gray;
                    }

                    .sortType {
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            color: var(--primary-lime-green);
                        }
                    }

                    .sortOrder {
                        .icon {
                            font-size: 24px;
                            cursor: pointer;

                            &:hover {
                                color: var(--primary-lime-green);
                            }
                        }
                    }

                    .openMenu {
                        width: 150px;

                        span {
                            font-size: 16px;
                        }
                    }
                }
            }

            .menuView {
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: flex-end;

                .icon {
                    font-size: 24px;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary-lime-green);
                    }

                    &.active {
                        color: var(--primary-lime-green);
                    }
                }
            }
        }
    }

    .customersBottom {
        margin: 20px;

        .gridView {
            display: grid;
            gap: 10px;
        }

        .listView {
            padding: 0;
        }
    }
}
