.newUser {
    flex: 5;
    width: 100%;

    .top {
        padding: 10px 20px;
        margin: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

        .title {
            font-size: 20px;
        }
    }

    .bottom {
        margin: 20px;
    }
}
