.chart {
    flex: 4;
    padding: 10px;
    color: gray;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(224, 224, 224, 0.5);
    }
}
