.single {
    flex: 5;
    width: 100%;

    .singleTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        margin: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

        .title {
            font-size: 20px;
        }

        .buttons {
            display: flex;
            gap: 10px;

            .addButton,
            .updateButton,
            .deleteButton {
                font-size: 16px;
                font-weight: 400;
                padding: 5px;
                border-radius: 5px;
                color: var(--primary-lime-green);
                border: 1px solid var(--primary-lime-green);
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: var(--primary-lime-green);
                }
            }
        }
    }

    .singleMiddle {
        display: flex;
        margin: 20px;
        gap: 20px;

        .singleChart {
            flex: 6;
        }
    }

    .singleBottom {
        margin: 20px;
        gap: 20px;
    }
}
