.listUser {
    flex: 5;
    width: 100%;

    .top {
        padding: 10px 20px;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px rgba(192, 192, 192, 0.5);

        .title {
            font-size: 20px;
        }

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .bottom {
        margin: 20px;
    }
}
