.customerCard {
    position: relative;
    border-radius: 100px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);
    cursor: pointer;

    &:hover {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px var(--primary-lime-green);

        .deleteCard {
            display: flex;
        }
    }

    .deleteCard {
        display: none;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);

        .icon {
            font-size: 25px;
            cursor: pointer;

            &:hover {
                color: var(--primary-lime-green);
            }
        }
    }

    .wrapper {
        display: flex;
        padding: 10px 20px;
        gap: 10px;
        
        .customerImage {
            display: flex;
            
            .image {
                width: 55px;
                height: 55px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        
        .customerItems {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .itemTitle {
                .title {
                    font-size: 18px;
                    font-weight: bold;
                }

                .phone {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    font-size: 14px;
                    font-weight: 400px;
                }
            }

            .items {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px;

                .itemDetail {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;
                    color: gray;

                    .icon {
                        font-size: 25px;
                        text-align: center;
                    }
                }
            }

            .itemSeller {
                font-size: 18px;
                font-weight: bold;
                margin-right: 20px;
            }
        }
    }
}
