.product {
    flex: 5;
    width: 100%;

    .productTop {
        padding: 10px 20px;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

        .title {
            font-size: 20px;
        }

        .buttons {
            display: flex;
            gap: 10px;

            .addButton,
            .updateButton,
            .deleteButton {
                font-size: 16px;
                font-weight: 400;
                padding: 5px;
                border-radius: 5px;
                color: var(--primary-lime-green);
                border: 1px solid var(--primary-lime-green);
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: var(--primary-lime-green);
                }
            }
        }
    }

    .productMiddle,
    .productBottom {
        display: flex;
        gap: 20px;
        margin: 20px;
    }

    .productMiddle {
        .productDetail {
            flex: 2;
            padding: 20px;
            border-radius: 10px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
            box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

            .productItems {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                gap: 20px;

                .itemImage {
                    .image {
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                .itemTitle {
                    font-size: 32px;
                    font-weight: bold;
                }

                .itemDetail {
                    font-size: 16px;
                }
            }
        }

        .productCalendar {
            flex: 6;
            display: flex;
        }
    }
}
