.product {
    flex: 5;
    width: 100%;

    .top {
        padding: 10px 20px;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

        .title {
            font-size: 20px;
        }

        .buttons {
            display: flex;
            gap: 10px;

            .addButton,
            .updateButton,
            .deleteButton {
                font-size: 16px;
                font-weight: 400;
                padding: 5px;
                border-radius: 5px;
                color: var(--primary-lime-green);
                border: 1px solid var(--primary-lime-green);
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: var(--primary-lime-green);
                }
            }
        }
    }

    .bottom {
        //display: flex;
        border-radius: 10px;
        padding: 20px 40px;
        margin: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

        .productDetail {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;

            .productImage {
                flex: 1;
                text-align: center;

                .image {
                    width: 100%;
                    border-radius: 10px;
                }
            }

            .productItems {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .title {
                    font-size: 24px;
                    font-weight: bold;
                }

                .itemDetail {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }

            .productInfo {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}
