.navbar {
    height: 50px;
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            justify-content: center;

            .logo {
                font-size: 32px;
                font-weight: bold;
                color: #57f851;
                cursor: pointer;

                .character {
                    margin-left: 5px;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            .item {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 10px;
                cursor: pointer;

                .icon {
                    font-size: 26px;
                }

                .counter {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%);
                    color: white;
                    background-color: red;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                }
            }

            .user {
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;

                .avatar {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .options {
                    list-style: none;
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 10px;
                    background-color: white;
                    border-radius: 10px;
                    z-index: 999;
                    border: 1px solid lightgrey;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 200px;

                    .userTitle {
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                    }

                    .optionItem {
                        padding: 5px;
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        cursor: pointer;

                        &:hover {
                            background-color: #eee;
                        }
                    }
                }
            }
        }
    }
}
