.dark {
    background-color: #111;
    color: white;

    .title {
        color: white;
    }

    input {
        color: white;
    }

    .navbar {
        background-color: #111;

        .wrapper {
            .right {
                .user {
                    .options {
                        background-color: #111;

                        .optionItem {
                            &:hover {
                                background-color: #333;
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar {
        background-color: #111;

        .wrapper {
            .item {
                .itemButton {
                    &:hover {
                        background-color: #333;
                    }
                }
            }
        }
    }

    .chartGrid {
        stroke: rgba(224, 224, 224, 0.5);
    }

    .regulartable {
        color: white;
        .tableContainer {
            background-color: #111;

            .tableCell {
                color: white;
            }
        }
    }

    .datatable {
        .datagrid {
            color: white;

            .MuiDataGrid-sortIcon {
                color: white;
            }
            .MuiDataGrid-menuIconButton {
                color: white;
            }
            .MuiDataGrid-toolbarContainer .MuiButton-text {
                color: grey;
            }
            .MuiDataGrid-footerContainer .MuiToolbar-root {
                color: white;
            }
            .MuiDataGrid-footerContainer .MuiToolbar-root .Mui-disabled {
                color: #333;
            }
            .MuiDataGrid-panelWrapper {
                background-color: #111;
            }
            .MuiDataGrid-menu {
                background-color: #111;
            }

            .cellAction {
                .viewButton,
                .deleteButton {
                    color: white;
                    border-color: white;
                }
            }
        }
    }
}
