.dark {
    background-color: #111;
    color: white;

    .title {
        color: white;
    }

    .navbar {
        background-color: #111;

        .wrapper {
            .right {
                .user {
                    .options {
                        background-color: #111;

                        .optionItem {
                            &:hover {
                                background-color: #333;
                            }
                        }
                    }
                }
            }
        }
    }

    .sidebar {
        background-color: rgb(20, 20, 20);

        .item {
            .itemButton {
                &:hover {
                    background-color: #333;
                }
            }
        }
    }

    .chartGrid {
        stroke: rgba(224, 224, 224, 0.5);
    }

    .tableContainer {
        background-color: #111;

        .tableCell {
            color: white;
        }
    }

    .datatable {
        .search {
            input {
                color: white;
            }
        }

        .datagrid {
            color: white;

            .viewButton,
            .deleteButton {
                color: white;
                border-color: white;
            }
        }
    }
}
