.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    border-radius: 10px;
    position: sticky;
    top: 50px;

    .wrapper {
        padding: 20px;

        .menu {
            margin-bottom: 15px;

            .title {
                margin-bottom: 5px;
                color: gray;
            }

            .items {
                list-style: none;
                margin: 0;
                padding: 0;

                .item {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    border-radius: 10px;
                    cursor: pointer;

                    &.active {
                        background-color: #ddd;
                    }

                    &:hover {
                        background-color: #ddd;
                    }

                    .icon {
                        font-size: 25px;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 600;
                        margin-left: 10px;
                    }
                }
            }
        }

        .color {
            display: flex;
            align-items: center;
            margin: 10px;
            justify-content: space-evenly;

            .colorOption {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid gray;
                margin: 5px;
                cursor: pointer;

                &:nth-child(1) {
                    background-color: #fff;
                }
                &:nth-child(2) {
                    background-color: #111;
                }
                &:nth-child(3) {
                    background-color: #57f851;
                }
            }
        }
    }
}
