.table {
    flex: 1;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.5);
    padding: 20px;

    .title {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(160, 160, 160);
    }

    .cellWrapper {
        display: flex;
        align-items: center;
    
        .image {
            width: 32px;
            height: 32px;
            border-radius: 5px;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .status {
        padding: 5px;
        border-radius: 5px;

        &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.1);
        }
        &.Pending {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.1);
        }
    }
}