.products {
    flex: 5;
    width: 100%;

    .top {
        padding: 20px;
        margin: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 4px 10px 1px rgba(160, 160, 160, 0.5);

        .menuTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .title {
                font-size: 20px;
            }

            .addButton {
                font-size: 16px;
                font-weight: 400;
                padding: 5px;
                border-radius: 5px;
                color: var(--primary-lime-green);
                border: 1px solid var(--primary-lime-green);
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: var(--primary-lime-green);
                }
            }
        }

        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .search {
                width: fit-content;
                display: flex;
                align-items: center;
                border: 0.5px solid gray;
                border-radius: 100px;
                padding: 5px;

                input {
                    font-size: 14px;
                    border: none;
                    outline: none;
                    background: transparent;

                    &::placeholder {
                        font-size: 12px;
                    }
                }

                .icon {
                    font-size: 25px;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary-lime-green);
                    }
                }

                &:hover {
                    border-color: var(--primary-lime-green);
                }
            }

            .left {
                display: flex;
                align-items: center;
                gap: 10px;

                input {
                    width: 100px;
                    padding: 5px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    outline: none;
                    background-color: transparent;

                    &::placeholder {
                        color: gray;
                    }

                    &:hover {
                        border-color: var(--primary-lime-green);
                    }
                }

                button {
                    padding: 5px 10px;
                    border-radius: 5px;
                    color: white;
                    border: none;
                    background-color: var(--primary-lime-green);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--primary-sea-green);
                    }
                }
            }

            .right {
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;

                .sortBy {
                    color: gray;
                    font-weight: 300;
                }

                .sortType {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-weight: bold;
                    cursor: pointer;

                    .icon {
                        font-size: 20px;
                    }

                    &:hover {
                        color: var(--primary-lime-green);
                    }
                }

                .rightMenu {
                    padding: 20px;
                    background-color: white;
                    border: 0.5px solid lightgrey;
                    border-radius: 5px;
                    position: absolute;
                    top: 30px;
                    right: 0;
                    z-index: 9;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    color: gray;

                    span {
                        cursor: pointer;

                        &:hover {
                            background-color: #ddd;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
        margin: 20px;
    }
}
