:root {
    --primary-light: #fff;
    --primary-dark: #111;

    --primary-blue: #1677ff;
    --primary-dark-blue: #5a54f9;
    --primary-purple: #9e339f;
    --primary-pink: #ed4192;
    --primary-dark-red: #e0282e;
    --primary-dark-orange: #f4801a;
    --primary-gold: #f2bd27;
    --primary-sea-green: #00b96b;
    --primary-lime-green: #52c41a;
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
}

.app {
    .link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:hover {
            color: var(--primary-lime-green);
        }
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

    .status {
        margin-top: 20px;
        padding: 5px;
        border-radius: 5px;

        &.pending {
            color: crimson;
            background-color: rgba(220, 20, 60, 0.1);
        }
        &.sold {
            color: goldenrod;
            background-color: rgba(218, 165, 32, 0.1);
        }
        &.done {
            color: green;
            background-color: rgba(0, 128, 0, 0.1);
        }
    }

    .iconClick {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        .icon {
            font-size: 20px;
        }

        &:hover {
            background-color: #eee;
        }
    }

    .openMenu {
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 9;
        padding: 5px 10px;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        color: gray;
        width: 150px;

        span {
            text-align: center;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                color: var(--primary-lime-green);
            }
        }
    }

    .error {
        color: red;
        font-size: 14px;
    }
}

::-webkit-scrollbar {
    border-radius: 0;
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
