:root {
    --primary-light: #FFF;
    --primary-dark: #111;
    
    --primary-blue: #1677FF;
    --primary-dark-blue: #5A54F9;
    --primary-purple: #9E339F;
    --primary-pink: #ED4192;
    --primary-dark-red: #E0282E;
    --primary-dark-orange: #F4801A;
    --primary-gold: #F2BD27;
    --primary-sea-green: #00B96B;
    --primary-lime-green: #52C41A;
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
}

.app {
    .link {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: var(--primary-lime-green);
        }
    }

    .title {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

    .status {
        margin-top: 20px;
        padding: 5px;
        border-radius: 5px;

        &.pending {
            color: crimson;
            background-color: rgba(220, 20, 60, 0.1);
        }
        &.sold {
            color: goldenrod;
            background-color: rgba(218, 165, 32, 0.1);
        }
        &.done {
            color: green;
            background-color: rgba(0, 128, 0, 0.1);
        }
    }
}

::-webkit-scrollbar {
    border-radius: 0;
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
