.datatable {
    height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 10px 1px rgba(192, 192, 192, 0.5);

    .search {
        width: fit-content;
        display: flex;
        align-items: center;
        border: 0.5px solid gray;
        border-radius: 100px;
        padding: 5px;

        input {
            font-size: 14px;
            border: none;
            outline: none;
            background: transparent;

            &::placeholder {
                font-size: 12px;
            }
        }

        .icon {
            font-size: 25px;
            cursor: pointer;
        }
    }

    .datagrid {
        border: none;

        .cellRole {
            padding: 5px;
            border-radius: 5px;

            &.admin {
                background-color: rgba(220, 20, 60, 0.1);
                color: crimson;
            }
            &.manager {
                background-color: rgba(218, 165, 32, 0.1);
                color: goldenrod;
            }
            &.sale {
                background-color: rgba(0, 128, 0, 0.1);
                color: green;
            }
        }

        .cellAction {
            display: flex;
            align-items: center;
            gap: 15px;

            .viewButton {
                width: 60px;
                text-align: center;
                padding: 2px 5px;
                border-radius: 5px;
                background-color: transparent;
                color: darkblue;
                border: 1px dotted rgba(0, 0, 139, 0.5);
                cursor: pointer;
            }

            .deleteButton {
                width: 60px;
                text-align: center;
                padding: 2px 5px;
                border-radius: 5px;
                background-color: transparent;
                color: crimson;
                border: 1px dotted rgba(220, 20, 60, 0.5);
                cursor: pointer;
            }
        }
    }
}
